@using Admin.Haircut.Business.Core
@using Admin.Haircut.Business.Models.Rule
@model List<RuleModel>;
@{
    var ruleEmployee = (List<RuleResponse>)ViewBag.RuleEmployee;
}

<select class="js-example-placeholder-multiple col-sm-12" name="Position" multiple="multiple">
    @foreach (var item in Model)
    {
        if(ruleEmployee.Any(x => x.IdRule == item.Id)){
            <option value="@item.Id" selected>@item.FullName</option>
        }else{
            <option value="@item.Id">@item.FullName</option>
        }
    }
</select>